name: CD

on:
  push:
    branches: [ master ]

jobs:
  nuget:
    name: Nuget push
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Publish on version change
        id: publish_nuget
        uses: rohith/publish-nuget@v2
        with:
          PROJECT_FILE_PATH: src/Chainz/Chainz.csproj
          PACKAGE_NAME: Chainz
          TAG_COMMIT: true
          TAG_FORMAT: v*
          NUGET_KEY: ${{secrets.CHAINZ_CD_PUSH}}

